body {
    font-family: arial, sans-serif;
}
/* Main body of the page */
.languages li {
    display: inline;
}
.languages {
    margin-top: 23px;
    text-align: center;
}
.middle-block button{
}
#google-search {
}
#feeling-lucky {
}
.form-buttons {
    margin-top: 23px;
    text-align: center;
}
.middle-block input {
    margin-top: 23px;
    width: 65%;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.middle-block img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    height: auto;
}
.middle-block {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Navbar */
.navbar-text:hover {
    text-decoration: underline;
}
.navbar-image, a:hover {
}
.navbar-text {
    text-decoration: none;
    color: #000000;
}
.navbar-image {
}
.navbar li {
    display: inline;
    background-color: lightgrey;
    margin-right: 20px;
    padding-left: 10px;
}
.navbar {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    right: 0px;
    height: 100px;
    width: auto;
}
/* Footer */
.footer-group-two {
    display: inline;
    margin-left: 60px;
}
.footer-group-one {
    display: inline;
}
footer a:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: rgb(138, 134, 134);
}
footer li {
    margin-right: 20px;
    display: inline;
}
footer ul {
    height: 30px;
    padding-left: 30px;
    padding-top: 15px;
}
footer p {
    color: rgb(138, 134, 134);
    margin-left: 30px;
    height: 30px;
    width: 100%;
    padding-top: 15px;
}
.top-footer-block {
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.54)
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: rgba(216, 215, 215, 0.54);
    width: 100%;
}