body {
    font-family: arial, sans-serif;
}
/* Main body of the page */
.languages li {
    display: inline;
}
.languages {
    text-align: center;
}
.middle-block button{
}
#google-search {
}
#feeling-lucky {
}
.form-buttons {
    text-align: center;
}
.middle-block input {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.middle-block img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
}
.middle-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Navbar */
.navbar-text:hover {
    text-decoration: underline;
}
.navbar-image, a:hover {
}
.navbar-text {
    text-decoration: none;
    color: #000000;
}
.navbar-image {
}
.navbar li {
    display: inline;
    background-color: lightgrey;
    margin-right: 20px;
    padding-left: 10px;
}
.navbar {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    right: 0px;
    height: 100px;
    width: auto;
}
/* Footer */
.footer-group-two {
    display: inline
}
.footer-group-one {
    display: inline;
}
footer li {
    display: inline;
}
footer ul {
    height: 30px;
    padding-left: 30px;
    padding-top: 15px;
}
footer p {
    margin-left: 30px;
    height: 30px;
    width: 100%;
    padding-top: 15px;
    border-bottom: solid;
}
footer {
    position: fixed;
    background-color: lightgray;
    width: 100%;
}