body {
    font-family: arial, sans-serif;
}
/* Main body of the page */
.languages a {
    color: #1a0dab;
}
.languages li {
    display: inline;
}
.languages {
    margin-top: 25px;
    text-align: center;
    font-size: 13px;
}
.middle-block button{
    margin-top: 23px;
}
#google-search {
    height: 38px;
    width: 120px;
    margin-right: 3px;
    background-color: rgba(216, 215, 215, 0.54);
}
#feeling-lucky {
    height: 38px;
    width: 120px;
    margin-left: 3px;
    background-color: rgba(216, 215, 215, 0.54);
}
.form-buttons {
    margin-top: 15px;
    text-align: center;
}
.middle-block input {
    margin-top: 23px;
    width: 65%;
    height: 40px;
    display: block;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
} 
.middle-block img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    height: auto;
}
.middle-block {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Navbar */
#sign-in-button a {
    color: rgb(255, 255, 255);
}
#sign-in-button {
    display: inline-block;
    background-color: #2b7de9;
    border-radius: 7px;
    display: block;
    height: 40px;
    width: 95px;
}
#sign-in-block {
}
#apps-button {
    text-align: center;
    border: solid;
    border-radius: 50%;
    background-color:rgba(216, 215, 215, 0.54);
    border-color: rgb(255, 255, 255);
    height: 3.8em;
    width: 3.8em;
}
.navbar-text:hover {
    text-decoration: underline;
}
.navbar-image, a:hover {
}
.navbar-text {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font: Roboto, sans-serif;
}
.navbar-image {
}
.navbar a {
    text-decoration: none;
    color: black;
}
.navbar li {
    display: inline-block;
}
.navbar {
    list-style-type: none;
    overflow: none;
    position: fixed;
    top: 7px;
    right: 10px;
}
/* Footer */
.footer-group-two {
    display: inline;
    margin-left: 60px;
}
.footer-group-one {
    display: inline;
}
footer a:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: rgb(138, 134, 134);
}
footer li {
    margin-right: 20px;
    display: inline;
}
footer ul {
    height: 30px;
    padding-left: 30px;
    padding-top: 15px;
}
footer p {
    color: rgb(138, 134, 134);
    margin-left: 30px;
    height: 30px;
    width: 100%;
    padding-top: 15px;
}
.top-footer-block {
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.54)
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: rgba(216, 215, 215, 0.54);
    width: 100%;
}